html,
body {
    text-align: left;
    font-family: 'Sofadi One';

    margin: 0;
    z-index: 1;
    padding: 0;
    
}
.img{
    bottom : 0;
    right: 0;
}

h3 {
    color: #000000;
    text-align: left;   
    font-size: 20px; 
    margin-left: auto;
    margin-right: auto;

}


